@media only screen and (max-width: 1024px) {
    #greeting #logo {
        width: 256px;
    }

    header {
        flex-direction: column;
    }

    #card {
        padding: 2rem;
    }
    
    #card #content {
        margin-left: 0;
        margin-top: 16px;
    }
    
    #card #logo {
        height: 96px;
    }

    footer {
        position: relative;
        font-size: 12px;
    }

    #switchcontainer {
        top: calc(var(--spacing) / 2);
        right: calc(var(--spacing) / 2 - 4px);
    }

    #wave {
        top: calc(var(--spacing) / 6 + 4px);
        right: calc(var(--spacing) / 4 + 10px);
    }
}